.PanelTwo {
    display: flex;
    justify-content: center;
    align-items: center;

}

.quote-container {
    text-align: center;
    font-size: 22px; /*fontsize for quote*/
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    margin-bottom: 50px;
    padding-left: 5px;
    padding-right: 5px;
    max-width: 125%;
    max-height: 50px;
    word-wrap: break-word;

}

.author {
    font-size: 18px; /* fontsize for author*/
}

.fade-in {
    opacity: 1;
}