
.PanelOne {
    padding: 64px 0 50px 75px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.PanelOneContainer {
    display: flex;
    align-items: center;
}

.PanelOneTextContainer {
    margin-top: 80px;
    margin-left: 50px;
}
#PanelOneTitle {
    max-width: 450px;
}
#PanelOneSubtext {
    max-width: 750px;
    margin-top: 30px;
    font-weight: 500;
}

.PanelOneImageContainer {
    flex:auto;
    display: flex;
    justify-content:center;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    max-width: 600px;
}

.PanelOneDivider {
    margin: 50px 125px 0 50px;
    border-bottom: solid 1px #d9d9d9;
}


.PanelOneImage {
    max-width: 225px;
}

@media (max-width: 1200px) {
    .PanelOneTextContainer {
        margin-left: 0px;
    }
    .PanelOneImageContainer {
        margin-right: 70px;
    }
}

@media (max-width: 750px) {
    .PanelOneImage {
        max-width: 200px;
    }
    .PanelOne {
        padding-left: 50px;
        padding-right: 50px;
    }
    .PanelOneContainer {
        flex-direction: column;
    }
    .PanelOneTextContainer {
        margin-top: 50px;
        margin-left: 0px;
    }
    .PanelOneImageContainer {
        margin-left: 0px;
        margin-right: 0px;
    }
    .PanelOneImage {
        padding-left: 0;
    }
    .PanelOneDivider {
        margin-right: 75px;
    }
    .console-container {

    }
}

/* CSS for the console-style animation */
.hidden {
    opacity:0;
}

.console-container {
    font-family: Khula;
    font-size: 1.25em; /* Adjust font size as needed */
    position: relative; /* Change position to relative */
    color: white;
    top: calc(100% - 50px); /* Adjust top position */
    left: 5%; /* Adjust left position */
}

.console-underscore {
    display: inline-block;
    position: relative;
    top: -0.1em; /* Adjust vertical position if needed */
    margin-left: 5px; 
}

