.PanelThree {
    max-width: 1250px;

    padding: 50px 30px; /*padding of the whole panel including the hackathon boxs*/
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap; /* Ensure flex items wrap to the next line if necessary */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.EducationContainer {
    width: 100%; /* Set the width to 100% to fill the width of the page */
    padding: 0 20px; /* Add padding to the sides */
    display: flex;
    flex-direction: row; /* Display children in a row */
    border-bottom: solid 1px #d9d9d9;
}

.EducationSection {
    max-width: 500px; /* Set the max width for education section */
    margin-right: 20px; /* Add margin to separate from image container */
    margin-bottom: 20px; /* Add margin at the bottom */
    padding-bottom: 20px; /* Add padding at the bottom */
}

.PanelThreeImageContainer {
    max-width: 220px; /* Adjusted to take up half of the panel width minus some margin */
    margin-bottom: 20px; /* Add margin at the bottom */
    flex-shrink: 0; /* Prevent the image container from shrinking */
}

.PanelThreeImage {
    margin-top: 50px;
    max-width: 400px;
    height: auto;
}

.PanelThreeContainer {
    display: flex;
    flex-direction: column; /* Display in columns */
    margin-top: 20px; /* Add margin at the top */
}

.SubtextBox {
    border: 1px solid #ddd; /* Add border around the container */
    padding: 20px; /* Add padding inside the container */
    margin-bottom: 20px; /* Add margin at the bottom */
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-radius 0.3s ease; /* Add transition for transform, box-shadow, and border-radius */
    border-radius: 10px; /* Round the corners of the border */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0); /* Add initial box shadow */
    cursor: pointer;
}

.SubtextBox:hover {
    transform: scale(1.05); /* Scale the box slightly when hovered over */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add box shadow when hovered over */
    border-radius: 20px; /* Round the corners more when hovered over */
}




/* Media Query for smaller screens */
@media (max-width: 907px) {
    .PanelThreeImageContainer {
        display: none; /* Hide the image container on smaller screens */
    }

    .SubtextBox {
        transition: transform 0.2s ease, box-shadow 0.2s ease, border-radius 0.2s ease; /* Adjust transition timing for smaller screens */
    }

    .SubtextBox:hover {
        transform: scale(1.03); /* Adjust the scale on hover for smaller screens */
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Adjust box shadow on hover for smaller screens */
        border-radius: 15px; /* Adjust border radius on hover for smaller screens */
    }
}